.caracteristicas__titulo {
    text-align: center;
}
.caracteristicas__contenido {
    margin: 50px 100px 50px 100px;
    text-align: center;
}
.caracteristicas__contenido-txt {
    text-align: left;
    display: inline-block;
    margin-left: 10%;
}
.caracteristicas__contenido-texto {
    width: 380px;
}
